body{
    background-color:azure;
    margin: 0 80px 0 80px;
}


.navigation{
    height: 70px;
    
}
.navigation-bar{
    background-color: transparent;
}

li{
    display:block;
    color: #68707d;
    margin: 20px;
    padding-bottom: 20px;
    float: left;
    cursor: pointer;
    
}

li:hover:not(.logo):not(.cart){
    color:#000000;
    box-shadow: 0 2px 0 rgb(255, 125, 26)
}
.avatar{
    margin-top: 10px;
}


.right{
    float: right;
}

.cart:hover{
    filter: brightness(50%);
}
#row-cart{
    display: none;
}
/* col-section */
.container{
    margin: 50px;
}
.main-img{
    border-radius: 5%;
    margin: 20px;
}
.product-img{
    height: 100px;
    width: 100px;
    border-radius: 5%;
    margin: 10px 10px 10px 10px;
    border: 2px;
}
.product-img:hover{
    cursor: pointer;
    filter: opacity(60%);
}
.row-img{
    display: inline-flex;
}
#details-section{
    text-align: left;
    margin: 70px 170px 50px 100px;
    position: relative;
    z-index: 0;
}
h5{
    color: rgb(255, 125, 26);
    padding-bottom: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: medium;
}
h1{
    padding-bottom: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}
p{
    color: #68707d;
    padding-bottom: 20px;
    font-size: 16px;
}
.row-price{
    display: flex;
}

.offer-percentage{
    color: hsl(26, 100%, 55%);
    background-color: #ffede0;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    border-radius: 15%;

}
.original-price{
    color:#b6bcc8;
    font-weight: bold;
}

.number{
    border: none;
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    background-color:#f7f8fd; ;
}
.number:hover{
    border: none;
} 

.items{
    background-color: #f7f8fd;
    border: none;
    width: 130px;
    margin: 20px 10px 0 0;
    padding: 10px 0 10px 0;
    border-radius: 20%;
}
.plus{
    margin-left: 20px;
}
.minus{
    margin-right: 20px;
}

.btn-cart{
    margin:20px 0 0 0px;
    border: none;
    border-radius:20% ;
    padding: 10px 60px 10px 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(26, 100%, 55%);
}
.btn-cart:hover{
    background-color: hsl(26, 100%, 55%);
    filter:opacity(80%) ;
    color:hsl(0, 0%, 100%); ;
}
.bag-cart{
    padding-right: 10px;
    filter: brightness(0) invert(1);
}

/* displaying cart  */

#totalPurchase{
    display: none;
    height : 220px;
    width: 300px;
    background-color:#ffffff;
    position: absolute;
    z-index: 1;
    margin: 50px 50px 0 900px;
    border-radius: 5%;
}

.cart-heading{
    color: #000000;
    padding: 10px 0 0 10px;
    font-weight: bold;
}
.inside-cart{
    text-align: center;
}


.check-box{
    background-color: hsl(26, 100%, 55%);
    color: #ffffff;
}
.check-box:hover{
    background-color:hsl(26, 100%, 55%) ;
    color: #ffffff;
    filter:opacity(70%) ;
    display: flex;
}

#row-cart{
    height : 220px;
    width: 300px;
    background-color:#ffffff;
    position: absolute;
    z-index: 1;
    margin: 50px 50px 0 900px;
    border-radius: 5%;
}
.row3{
    display: inline-flex;
}
.delete{
    cursor: pointer;
}
